# Default values for netpolicy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
processingNamespace: ""
monitoringNamespace: ""

services:
  postgres:
    external: false
  kafka:
    external: false
  ingress:
    rootDomain: example.com

holmesFullAccess:
  enabled: false

extraFqdnCiliumPolicy:
  enabled: false
#  policy:
#  - name: beholder-fqdn
#    podLabel: beholder
#    matchPattern:
#    - "*.{{ .Values.services.ingress.rootDomain | default "example.com" }}"
#    - "*.lambdatest.com"

extraWorldAccess:
  enabled: false
#  policy:
#  - name: beholder-world
#    podLabel: beholder
#  - name: bouncer-policy-world
#    podLabel: bouncer-policies

extraPolicy: {}
#  policy:
#  - name: deanonimus-es-extra
#    podLabel: deanonimus-es
#    to:
#      targetLabel: deanonimus-es
#      ports:
#      - port: 9200
#        type: TCP
#  - name: anyapp-to-anyapp-db-extra
#    namespace: somenamespace
#    customLabel: 'app: anyapp' 
#    to:
#      customTargetLabel: "app.kubernetes.io/instance: any-app-db"
#      namespace: somenamespace
#      ports:
#      - port: 3306
#        type: TCP

extraCidrPolicy: {}
#  policy:
#  - name: anal-to-anywhere
#    podLabel: analytics
## If the reverse rule is required
#    reversed: true
#    cidrs: 
#    - 12.12.13.0/24
#    ports:
#    - port: 443
#      type: TCP
#    - port: 80
#      type: TCP

podToHostAccess: {}
#  - name: machinegun-ha
#    podLabel: machinegun-ha
#  - name: fluent-bit
#    namespace: monitoring
#    podLabel: fluent-bit
#  - name: fleet
#    customLabel: 'app: fleet'
#    namespace: monitoring

nsAccessPolicy: {}
#  - namespace: default
#    fromNamespace: monitoring
#  - namespace: default
#    fromNamespace: ingress
#  - namespace: monitoring
#    fromNamespace: ingress

podToEntitiesAccess: {}
#  - name: clickhouse-operator-kubeapi-ent
#    podLabel: clickhouse-operator
#    entities:
#    - kube-apiserver
#    - remote-node
#    services:
#    - k8sService:
#        namespace: default
#        serviceName: kubernetes
#  - name: vault-agent-injector-kubeapi-ent
#    customLabel: "app.kubernetes.io/name: vault-agent-injector"
#    entities:
#    - kube-apiserver

fullAccessPolicy: {}
#  - name: prometheus
#    namespace: monitoring
#    podLabel: prometheus-instance

nsDnsVision: {}
#  - namespace: default
#  - namespace: monitoring