apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stateless.fullname" . }}
  labels:
{{ include "stateless.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "stateless.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  {{- if .Values.strategyRecreate }}
  strategy:
    type: Recreate
  {{- end }}
  template:
    metadata:
      labels:
        {{ include "stateless.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
      {{- if or .Values.configMap .Values.secret }}
        config/checksum: {{ include "stateless.configHash" . }}
      {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ template "stateless.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
    {{- if or .Values.extraInitContainers .Values.apiInitContainers.enabled }}
      initContainers:
    {{- if .Values.apiInitContainers.enabled }}
        - name: fetch-keycloack-pubkey
          image: {{ .Values.apiInitContainers.image | default "ghcr.io/valitydev/busybox:1.32" }}
          env:
          - name: TARGET
            value: "/var/keycloak/keycloak.pubkey.pem"
          {{- with .Values.apiInitContainers.env }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          command:
            - /bin/sh
            - -c
            - /opt/keycloak/fetch-keycloak-pubkey.sh
          volumeMounts:
            - name: config-volume
              mountPath: /opt/keycloak/fetch-keycloak-pubkey.sh
              subPath: fetchKeycloakPubkey
              readOnly: true
            - name: keycloak-pubkey
              mountPath: /var/keycloak
    {{- end }}
    {{- with .Values.extraInitContainers }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- with .Values.env }}
            {{- toYaml . | nindent 10 }}
          {{- end }}
          ports:
          {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .port }}
              protocol: TCP
          {{- end }}
        {{- if .Values.runopts.command }}
          command: {{ .Values.runopts.command}}
        {{- with .Values.runopts.args }}
          args:
            {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        {{- if .Values.readinessProbe }}
          startupProbe:
          {{- if .Values.readinessProbe.httpGet }}
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
          {{- else if .Values.readinessProbe.exec }}  
            exec:
              command: {{ .Values.readinessProbe.exec.command }}
          {{- end }}
            failureThreshold: 18
            periodSeconds: 10
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
        {{- end }}
        {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
        {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
        {{- end }}
    {{- with .Values.sidecarContainers }}
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
    {{- end }}    
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
    {{- end }}
