# Default values for statefull.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: nginx
  tag: stable
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext: {}
  # fsGroup: 2000

podAnnotations: {}

podLabels: {}

configMap: {}
#  data: {}
#  binaryData: {}

cilium:
  policy:
    enabled: false

secret: {}
#  data: ""

volumes: ""

volumeMounts: ""

apiInitContainers:
  enabled: false

extraInitContainers: []

sidecarContainers: []

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  headless: false
  type: ClusterIP
  ports:
    - name: api
      port: 8022
    # - name: api
    #   port: 8080

runopts:
  command: []
  args: []
    # - -jar
    # - /opt/binbase/binbase.jar
    # - --management.security.enabled=false

env: []

hook:
  enabled: false
  kind: post-install
  image:
    repository: alpine
    tag: stable
    pullPolicy: IfNotPresent
  command: []
  volumes: []
  volumeMounts: []

livenessProbe:
  httpGet:
    path: /health
    port: api
readinessProbe:
  httpGet:
    path: /health
    port: api
startupProbe: {}

ingress:
  enabled: false
  ingressClassName: nginx
  servicePort: 8022
  annotations: {}
  tls: []
    # enabled: false
    # letsEncrypt:
    #   enabled: false
    #   issuer: ""
    #   internalIssuer: ""
    # secretName: ""
  # new format below
  hostPrefix: ""
  paths: []
    # - /v2
    # - path: /path1
    # - path: /path2
    #   backend:
    #     serviceName: rule-path1
    #     servicePort: use-annotation
  rootDomains: []
    # - example.com
    # - example.ru
  namespacedDomain: false
  # old format below. For backwards capability
  hosts:
    - host: chart-example.local
      paths: []

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

hpa:
  enabled: false
  maxReplicas: 5

nodeSelector: {}

tolerations: []

topologySpreadConstraints: []
topologySpreadConstraintsRequired:
  enabled: false

affinity: {}

metrics:
  serviceMonitor:
    enabled: false
    namespace: default
    # Used to pass Labels that are used by the Prometheus installed in your cluster to select Service Monitors to work with
    # ref: https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/api.md#prometheusspec
    additionalLabels: {}
    endpoints:
      - port: "api"
        path: /metrics
        scheme: http

logs:
  enabled: true
  json: false

netPolicies: []
# - name: consul
#   namespace: default
#   filters:
#     - port: 8500
#       type: TCP
# - name: riak
#   filters:
#    - port: 6000
#      endPort: 7999
#      type: TCP
# - name: kafka
#   namespace: default
#   filters:
#     - port: 9092
#       type: TCP
#       rules:
#         kafka:
#         - role: produce
#           topics: 
#             - bla1
#             - blah-blah-2
#         - role: consume
#           topics:
#             - bla1
#             - bla2
# - cidrs:
#   - 1.1.1.1
#   filters:
#   - port: 80222
#     type: TCP
#   - port: 80221
#     type: TCP
#   name: cidr-xyz
# - cidrs:
#   - 1.1.1.1
#   - 1.1.1.1
#   - 1.1.1.1
#   - 1.1.1.1
#   filters:
#   - port: 8022
#     type: TCP
#   name: cidr-abc
## Cilium policy enabled only
# - name: fqdn-hut
#   domainName:
#   - "asdlzxc.com"
#   domainPattern:
#   -  "*.cas.*.com"
 
storage: {}
#  accessModes: ["ReadWriteOnce"]
#  resources:
#     requests:
#       storage: 1Gi

vaultSecret:
  # Enables vault static secret for the service
  enabled: false
  # Annotations for VaultAuth and VaultStaticSecret resources
  annotations: {}
  # Reference to the vault connection CR
  vaultConnectionRef: ""
  # Type of the auth method (kubernetes, token, etc.)
  vaultAuthMethodType: ""
  # Mount point for the auth method
  vaultAuthMethodMount: ""
  # Role for the auth method (usually the service account name)
  vaultAuthRole: ""
  # Service account for kubernetes auth method
  serviceAccount: ""
  # Token expiration time in seconds for kubernetes auth method
  tokenExpirationSeconds: ""
  # Reference to the vault auth CR
  vaultAuthRef: ""
  # Mount point for secret in vault
  vaultSecretMount: ""
  # Type of the secret in vault (kv-v2, kv-v1, etc.)
  vaultSecretType: ""
  # Path to the vault secret
  vaultSecretPath: ""
  # Refresh interval for the secret (default is 60s)
  refreshAfter: ""
  # Name of the transformation template file
  transformationTemplateName: ""
  # Transformation for the secret (e.g. template https://developer.hashicorp.com/vault/docs/deploy/kubernetes/vso/secret-transformation#related-api-references)
  transformation: ""