{{- if .Values.cilium }}
{{- if .Values.cilium.enabled }}
{{- if .Values.nsDnsVision }}
{{- range .Values.nsDnsVision }}
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: dns-vision.{{ .namespace | default $.Release.Namespace }}
  namespace: {{ .namespace | default $.Release.Namespace }}
spec:
  endpointSelector:
    {}
  egress:
  - toEndpoints:
    - matchLabels:
       "k8s:io.kubernetes.pod.namespace": kube-system
       "k8s:k8s-app": kube-dns
    toPorts:
      - ports:
         - port: "53"
           protocol: ANY
         - port: "9153"
           protocol: ANY
        rules:
          dns:
            - matchPattern: "*"
{{- end }}
{{- end }}
{{- end }}
{{- end }}