{{- if .Values.nsDnsVision }}
{{- range .Values.nsDnsVision }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: dns-allow-egress-{{ .namespace | default $.Release.Namespace }}
  namespace: {{ .namespace | default $.Release.Namespace }}
spec:
  podSelector: {}
  policyTypes:
  - Egress
  egress:
  - ports:
    - port: 53
      protocol: UDP
    - port: 53
      protocol: TCP
    - port: 9153
      protocol: TCP
    - port: 9153
      protocol: TCP
{{- end }}
{{- end }}