{{- if .Values.cilium }}
{{- if .Values.cilium.enabled }}
{{- if .Values.extraFqdnCiliumPolicy.enabled }}
{{ range .Values.extraFqdnCiliumPolicy.policy }}
---
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: extra-{{ .name }}.{{ .namespace | default $.Release.Namespace }}
  namespace: {{ .namespace | default $.Release.Namespace }}
spec:
  {{- if or .podLabel .customLabel }}
  endpointSelector:
    matchLabels:
    {{- if .podLabel }}
      k8s:selector.cilium/release: {{ .podLabel }}
    {{- else }}
      {{ .customLabel }}
    {{- end }}
  {{- else }}
  endpointSelector: {}
  {{- end }}
  egress:
  - toFQDNs:
      {{- if .matchName }}
      {{- range .matchName }}
      - matchName: "{{ . }}"
      {{- end }}
      {{- end }}
      {{- if .matchPattern }}
      {{- range .matchPattern }}
      - matchPattern: "{{ . }}"
      {{- end }}
      {{- end }}
    {{- if .ports }}
    toPorts:
      - ports:
        {{- range .ports }}
        - port: "{{ .port }}"
          protocol: {{ .type }}
        {{- end }}
    {{- else }}
    toPorts:
      - ports:
        - port: "80"
          protocol: TCP
        - port: "443"
          protocol: TCP
    {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}