name: Lint charts

on:
  push:
    branches-ignore:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.3

      - name: Run lint
        run: |
          for charts in $(ls charts); do
          helm lint charts/$charts
          done
