---
{{- if .Values.configMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "statefull.fullname" . }}
  labels:
    {{- include "statefull.labels" . | nindent 4 }}
data:
  {{ toYaml .Values.configMap.data | nindent 2 }}
binaryData:
  {{ toYaml .Values.configMap.binaryData | nindent 2 }}
{{- end }}
