{{- if .Values.vaultSecret.enabled }}
{{- $fullName := include "statefull.fullname" . -}}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  {{- with .Values.vaultSecret.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
{{ include "statefull.labels" . | indent 4 }}
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
spec:
  vaultAuthRef: {{ .Values.vaultSecret.vaultAuthRef | default $fullName }}
  type: {{ .Values.vaultSecret.vaultSecretType | default "kv-v2" }}
  mount: {{ required "Required value .Values.vaultSecret.vaultSecretMount" .Values.vaultSecret.vaultSecretMount }}
  path: {{ required "Required value .Values.vaultSecret.vaultSecretPath" .Values.vaultSecret.vaultSecretPath }}
  refreshAfter: {{ .Values.vaultSecret.refreshAfter | default "60s" }}
  destination:
    create: true
    name: {{ $fullName }}-vault-static-secret
    {{- if .Values.vaultSecret.transformation }}
    transformation:
      templates:
        {{ .Values.vaultSecret.transformationTemplateName | default "secret.yaml" | quote }}:
          text: |
            {{- .Values.vaultSecret.transformation | nindent 12 }}
    {{- end }}
{{- end }}